html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  background: #6f8ebd;
}

.l-header {
  height: 60px;
  background-color: rgba(111, 142, 189, 0.9);
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
}

.l-header__back {
  border: none;
  background: transparent;
}

.l-header__title {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.l-header__inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 16px;
}

.l-header button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.l-header__icon {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.l-header__icon .material-icons {
  font-size: 30px;
}

.l-header__back .material-icons {
  font-size: 48px;
}

.l-main {
  padding: 70px 20px 80px;
}

.p-chat {
  width: 100%;
}

.p-chat__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.p-chat__item {
  display: flex;
  gap: 10px;
}

.p-chat__item--right {
  flex-direction: row-reverse;
}

.p-chat__item .p-chat__avatar {
  font-size: 60px;
}

.p-chat__item--left .p-chat__avatar {
  color: #ec907d;
}

.p-chat__item--right .p-chat__avatar {
  color: #000;
}

.p-chat__text {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.p-chat__item--left .p-chat__text {
  background-color: #fff;
  margin-left: 15px;
}

.p-chat__item--right .p-chat__text {
  background-color: #96db90;
  margin-right: 15px;
}

.p-chat__item--left .p-chat__text::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 16px;
  left: -12px;
  border-top: 8px solid transparent;
  border-right: 18px solid #fff;
  border-bottom: 8px solid transparent;
  transform: rotate(35deg);
}

.p-chat__item--right .p-chat__text::before {
  content: "";
  position: absolute;
  top: 16px;
  right: -12px;
  border-top: 8px solid transparent;
  border-left: 18px solid #96db90;
  border-bottom: 8px solid transparent;
  transform: rotate(-35deg);
}

.l-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #fff;
}

.l-footer__inner {
  height: 100%;
}

.l-footer__form {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.l-footer__add {
  margin-right: 10px;
  border: none;
  background: transparent;
}

.l-footer__add .material-icons {
  font-size: 36px;
}

.l-footer__input {
  flex: 1;
  height: 40px;
  border: 2px solid #666;
  border-radius: 999px;
  padding: 0 16px;
  font-size: 16px;
}

div.material-icons__bg {
  background: #e6e6e6;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  }