body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #6f8ebd;
}

.l-header {
    height: 60px;
    background-color: rgba(111, 142, 189, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
}

.l-header__back {
    border: none;
    background: transparent;
}

.l-header__title {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.l-header__inner {
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.l-header button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.l-header-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.material-symbols-outlined {
    font-size: 24px;
}

.l-header__back .material-symbols-outlined {
    font-size: 30px;
}

.l-main {
    padding: 20px 10px 80px;
}

.chat {
    width: 100%;
}

.chat__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.chat__item {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 0;
}

.chat__item--left {
    justify-content: flex-start;
}

.chat__item--right {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.chat__avatar {
    font-size: 60px;
    flex-shrink: 0;
}

.chat__item--left .chat__avatar {
    color: #ec907d;
}

.chat__item--right .chat__avatar {
    color: #000;
    flex-shrink: 0;
    margin-bottom: 0;
}

.chat__text {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.5;
    max-width: calc(100% - 140px);
    word-break: break-word;
}

.chat__item--left .chat__text {
    background-color: #fff;
}

.chat__item--right .chat__text {
    background-color: #96db90;
}

.chat__item--left .chat__text::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 14px;
    border-top: 6px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 6px solid transparent;
}

.chat__item--right .chat__text::before {
    content: "";
    position: absolute;
    right: -7px;
    top: 14px;

    border-top: 6px solid transparent;
    border-left: 8px solid #96db90;
    border-bottom: 6px solid transparent;
}

.l-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #fff;
}

.l-footer__inner {
    height: 100%;
}

.chat__form {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}

.chat__icon {
    margin-right: 10px;
    border: none;
    background: transparent;
}

.chat__icon .material-symbols-outlined {
    font-size: 36px;
}

.chat__input {
    flex: 1;
    height: 40px;
    border: 2px solid #666;
    border-radius: 999px;
    padding: 0 16px;
    font-size: 16px;
}

.chat__btn {
    display: none;
}
